<%- include('partials/header') %>

    <%- include('partials/nav') %>

        <div class="container-xxl">
            <h1 class="h1 display-5">Welcome, <%=user%>
            </h1>

            <div class="dropdown pt-3 fs-6">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Calender View
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a class="calenderView dropdown-item" selected="selected" href="/" type="button">Calender
                                View</a>
                        </li>
                        <li><a class="listView dropdown-item" href="/l">List View</a></li>
                    </ul>
                </div>
                <hr>
            </div>


            <div class="calender">
                <div class="month">
                    <ul>
                        <li class="prev">
                            <button class='monthPrev btn btn-light'>
                                &#10094;
                            </button>
                        </li>
                        <li class="next">
                            <button class="monthNext btn btn-light">
                                &#10095;
                            </button>
                        </li>
                        <li><span>January</span><br><span class="year" style="font-size:18px">1995</span></li>
                    </ul>
                </div>

                <ul class="weekdays">
                    <li class="mo">Mo</li>
                    <li class="tu">Tu</li>
                    <li class="we">We</li>
                    <li class="th">Th</li>
                    <li class="fr">Fr</li>
                    <li class="sa">Sa</li>
                    <li class="su">Su</li>
                </ul>

                <ul class="days">
                    <li class="eachDay hasEntry">1</li>
                    <li class="eachDay">2</li>
                    <li class="eachDay">3</li>
                    <li class="eachDay">4</li>
                    <li class="eachDay">5</li>
                    <li class="eachDay">6</li>
                    <li class="eachDay">7</li>
                    <li class="eachDay">8</li>
                    <li class="eachDay">9</li>
                    <li class="eachDay">10</li>
                    <li class="eachDay">11</li>
                    <li class="eachDay">12</li>
                    <li class="eachDay">13</li>
                    <li class="eachDay">14</li>
                    <li class="eachDay">15</li>
                    <li class="eachDay">16</li>
                    <li class="eachDay">17</li>
                    <li class="eachDay">18</li>
                    <li class="eachDay">19</li>
                    <li class="eachDay">20</li>
                    <li class="eachDay">21</li>
                    <li class="eachDay">22</li>
                    <li class="eachDay">23</li>
                    <li class="eachDay">24</li>
                    <li class="eachDay">25</li>
                    <li class="eachDay">26</li>
                    <li class="eachDay">27</li>
                    <li class="eachDay">28</li>
                    <li class="eachDay twoNine">29</li>
                    <li class="eachDay threeZero">30</li>
                    <li class="eachDay threeOne">31</li>
                </ul>
                <hr>
                <div class="selected_entry" hidden>
                    <div class='calender_entry_heading'>
                        <h4 class="homepage_entry">January 3rd, 2021</h4>
                    </div>
                    <div class="entry_subheading">
                        <small class="text-muted">Rating: 7</small><span
                            class="badge rounded-pill bg-danger">work</span>
                    </div>
                    <h6>Design Course</h6>

                    <hr>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores facere corporis suscipit
                        necessitatibus praesentium cum provident dicta amet qui nihil, illo iste ad molestiae velit,
                        dolorem
                        impedit molestias. Pariatur, expedita.
                        Facilis excepturi repellat optio aliquam nulla quisquam accusamus reiciendis natus voluptatibus,
                        cumque
                        quo mollitia dicta vero impedit veniam, nesciunt dolorem! Illo dolores quia odio minima, et
                        deleniti
                        voluptatibus enim necessitatibus!
                        Modi, nobis? Ipsa quia sapiente magni repellendus debitis facilis quas aspernatur non,
                        accusantium
                        quo
                        aperiam omnis ex quis. Soluta atque, ullam esse exercitationem necessitatibus aspernatur
                        asperiores
                        blanditiis minima accusamus. Ipsa?
                        Est harum, esse dicta eveniet fugit voluptatum nobis voluptates laborum excepturi veritatis id,
                        sit
                        molestiae facere repellendus corrupti cum hic aliquid. Sapiente, odio earum ex necessitatibus
                        vero
                        debitis modi numquam?
                        Deserunt accusamus praesentium veritatis culpa, repudiandae accusantium quod corporis numquam
                        repellat
                        quaerat atque nam unde non sequi in temporibus. Eligendi consectetur illum tempore quaerat. Quae
                        amet
                        nemo delectus sit accusantium.
                        Molestias itaque ex sapiente, vitae, soluta eaque dolorem voluptatem obcaecati, corrupti
                        voluptatum
                        consectetur vero distinctio perferendis esse dignissimos blanditiis officiis similique
                        praesentium
                        pariatur ipsum consequuntur repellendus porro expedita aliquam? Non?
                        Explicabo sapiente, iste cum magnam asperiores quo dolor ipsum sequi sit! Consequuntur obcaecati
                        nemo
                        cupiditate fugiat molestias aut quidem maxime quae explicabo! Ratione, dolorem assumenda
                        deleniti at
                        nemo nihil asperiores.
                        Sequi quisquam saepe atque vero aspernatur optio? Sapiente, laboriosam id. Possimus distinctio
                        vel,
                        ullam praesentium id culpa porro laborum quisquam vitae et aliquam laudantium excepturi sed fuga
                        maxime?
                        Laboriosam, tempore.
                        Eum, excepturi assumenda, reprehenderit necessitatibus maiores et aliquam quo nesciunt,
                        consectetur
                        perferendis repudiandae minima eos cupiditate eaque sit doloribus quidem architecto quaerat odit
                        reiciendis minus mollitia at nemo! Magnam, pariatur.
                        Vitae quia earum suscipit, quo fugiat facilis in ea hic ex dignissimos. Cum quae, ducimus ab
                        maiores
                        porro deserunt. Blanditiis, consequatur nostrum sit omnis odit voluptas reprehenderit tenetur
                        odio
                        corporis.
                    </p>
                </div>
            </div>

        </div>
        </div>
        <script src="/js/homepageScript.js"></script>

        <%- include('partials/footer') %>